@import './theatre-audience.scss';
@import './theatre-curtains.scss';
@import './theatre-filters.scss';
@import './theatre-levels.scss';
@import './theatre-title.scss';

.screen-theatre {
    position: relative;
    width: 100vw;
    height: 100vh;

    .screen-theatre-layer {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    .screen-theatre-layer-background {
        @extend .screen-theatre-layer;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 100%;
    }

    .screen-theatre-layer-spotlight {
        @extend .screen-theatre-layer;
        z-index: 2;
        pointer-events: none;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .screen-theatre-layer-ui {
        @extend .screen-theatre-layer;
        z-index: 0;
    }
}