.screen-theatre-layer-levels {
    @extend .screen-theatre-layer;
    z-index: 0;
    pointer-events: none;

    .screen-theatre-levels {
        position: absolute;
        bottom: 80px;

        width: 100%;
        height: 35%;

        display: flex;
        align-content: center;

        animation-name: screen-theatre-levels--enter;
        animation-duration: 500ms;
        animation-delay: 1500ms;
        animation-fill-mode: forwards;

        transform: translateX(100%);
        transition: all 150ms;

        opacity: 0;

        @keyframes screen-theatre-levels--enter {
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }
        
        @media screen and (min-width: 2100px) {
            bottom: 90px;
        }

        @media screen and (min-width: 2350px) {
            bottom: 105px;
        }

        @media screen and (min-width: 2550px) {
            bottom: 110px;
        }

        @media screen and (min-width: 2800px) {
            bottom: 130px;
        }

        @media screen and (min-width: 3400px) {
            bottom: 180px;
        }

        // ===

        @media screen and (max-width: 1750px) {
            bottom: 70px;
        }

        @media screen and (max-width: 1550px) {
            bottom: 64px;
        }

        @media screen and (max-width: 1300px) {
            bottom: 54px;
        }

        @media screen and (max-width: 1100px) {
            bottom: 45px;
        }
    }

    .screen-theatre-level {
        position: relative;
        
        width: 12%;
        height: 100%;

        background: white;
        border: 10px solid #663333;

        flex-shrink: 0;

        margin-right: 100px;

        pointer-events: all;

        animation-name: screen-theatre-level--enter;
        animation-duration: 250ms;
        animation-fill-mode: forwards;

        @keyframes screen-theatre-level--enter {
            from {
                opacity: 0;
                transform: translateX(12px);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        @media screen and (min-width: 2100px) {
            border-width: 12px;
        }

        @media screen and (min-width: 2350px) {
            border-width: 14px;
        }

        @media screen and (min-width: 2550px) {
            border-width: 16px;
        }

        @media screen and (min-width: 2800px) {
            border-width: 18px;
        }

        @media screen and (min-width: 3400px) {
            border-width: 20px;
        }

        // ===

        @media screen and (max-width: 1750px) {
            border-width: 10px;
        }

        @media screen and (max-width: 1550px) {
            border-width: 8px;
        }

        @media screen and (max-width: 1300px) {
            border-width: 7px;
        }

        @media screen and (max-width: 1100px) {
            border-width: 6px;
        }

        .screen-theatre-level-bg {
            position: absolute;
            top: 0;
            z-index: 1;

            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: left bottom;
        }

        > img {
            position: absolute;
            bottom: -9%;
            z-index: 0;

            width: 125%;
            margin-left: -12.5%;
        }

        &::after {
            content: ' ';

            position: absolute;
            top: 0;

            display: block;

            width: 100%;
            height: 100%;

            background: rgba(0, 0, 0, 0.66);
            z-index: 1;

            opacity: 0;

            transition: all 200ms;
        }

        &.attr--faded {
            border-color: #3f2222;

            &::after {
                opacity: 1;
            }
        }

        &.attr--past {
            .screen-theatre-level-navigation-left,
            .screen-theatre-level-navigation-right {
                animation-delay: 0ms !important;
            }
        }

        .screen-theatre-level-navigation-left {
            position: absolute;
            top: calc((100% - 80px) / 2);
            left: 0;
            width: 80px;
            height: 80px;
            background: #663333;
            border-radius: 50%;

            animation-name: screen-theatre-level-navigation-left--enter;
            animation-duration: 300ms;
            animation-delay: 2100ms;
            animation-fill-mode: forwards;
    
            @keyframes screen-theatre-level-navigation-left--enter {
                to {
                    left: -48px;
                }
            }
        
            @media screen and (min-width: 2100px) {
                margin-left: -10px;
            }
    
            @media screen and (min-width: 2350px) {
                margin-left: -20px;
            }
    
            @media screen and (min-width: 2550px) {
                margin-left: -25px;
            }
    
            @media screen and (min-width: 2800px) {
                margin-left: -35px;
            }
    
            @media screen and (min-width: 3400px) {
                margin-left: -60px;
            }
        }

        .screen-theatre-level-navigation-right {
            position: absolute;
            top: calc((100% - 80px) / 2);
            right: 0;
            width: 80px;
            height: 80px;
            background: #663333;
            border-radius: 50%;

            animation-name: screen-theatre-level-navigation-right--enter;
            animation-duration: 300ms;
            animation-delay: 2100ms;
            animation-fill-mode: forwards;
    
            @keyframes screen-theatre-level-navigation-right--enter {
                to {
                    right: -48px;
                }
            }
        
            @media screen and (min-width: 2100px) {
                margin-right: -10px;
            }
    
            @media screen and (min-width: 2350px) {
                margin-right: -20px;
            }
    
            @media screen and (min-width: 2550px) {
                margin-right: -25px;
            }
    
            @media screen and (min-width: 2800px) {
                margin-right: -35px;
            }
    
            @media screen and (min-width: 3400px) {
                margin-right: -60px;
            }
        }

        .screen-theatre-level-navigation-left,
        .screen-theatre-level-navigation-right {
            pointer-events: all;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all 150ms;
            
            > div {
                display: flex;
                align-items: center;
                justify-content: center;

                > img {
                    width: 28px;
                }
            }

            &:hover {
                transform: scale(1.1);
            }

            &:active, &:focus {
                transform: scale(0.9);
            }
        
            @media screen and (min-width: 2100px) {
                width: 90px;
                height: 90px;
                top: calc((100% - 90px) / 2);

                img {
                    width: 34px !important;
                }
            }
    
            @media screen and (min-width: 2350px) {
                width: 100px;
                height: 100px;
                top: calc((100% - 100px) / 2);

                img {
                    width: 40px !important;
                }
            }
    
            @media screen and (min-width: 2550px) {
                width: 110px;
                height: 110px;
                top: calc((100% - 110px) / 2);

                img {
                    width: 44px !important;
                }
            }
    
            @media screen and (min-width: 2800px) {
                width: 120px;
                height: 120px;
                top: calc((100% - 120px) / 2);

                img {
                    width: 50px !important;
                }
            }
    
            @media screen and (min-width: 3400px) {
                width: 160px;
                height: 160px;
                top: calc((100% - 160px) / 2);

                img {
                    width: 70px !important;
                }
            }
        }

        .screen-theatre-level-navigation-left img {
            margin-left: -32px;
        }

        .screen-theatre-level-navigation-right img {
            margin-left: 32px;
            transform: scale(-1);
        }
    }

    .screen-theatre-current-level-title {
        width: 100%;
        position: absolute;
        bottom: calc(50% - 42px);

        color: #f9d7c7;
        font-size: 50px;

        white-space: nowrap;
        text-align: center;

        animation-name: screen-theatre-current-level-title--enter;
        animation-duration: 500ms;
        animation-delay: 1800ms;
        animation-fill-mode: forwards;

        transform: translateY(12px);
        opacity: 0;

        line-height: 35px;

        @keyframes screen-theatre-current-level-title--enter {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &.attr--past {
            animation-delay: 0ms !important;
        }

        > div:nth-child(2) {
            font-size: 26px;
            opacity: 0.66;
        }
        
        @media screen and (min-width: 2100px) {
            font-size: 62px;
            line-height: 40px;
            bottom: calc(50% - 50px);

            > div:nth-child(2) {
                font-size: 32px;
            }
        }

        @media screen and (min-width: 2350px) {
            font-size: 70px;
            line-height: 45px;
            bottom: calc(50% - 50px);

            > div:nth-child(2) {
                font-size: 36px;
            }
        }

        @media screen and (min-width: 2550px) {
            font-size: 76px;
            line-height: 50px;
            bottom: calc(50% - 50px);

            > div:nth-child(2) {
                font-size: 40px;
            }
        }

        @media screen and (min-width: 2800px) {
            font-size: 84px;
            line-height: 56px;
            bottom: calc(50% - 54px);

            > div:nth-child(2) {
                font-size: 45px;
            }
        }

        @media screen and (min-width: 3400px) {
            font-size: 120px;
            line-height: 85px;
            bottom: calc(50% - 78px);

            > div:nth-child(2) {
                font-size: 65px;
            }
        }

        // ===

        @media screen and (max-width: 1750px) {
            font-size: 46px;
            line-height: 32px;
            bottom: calc(50% - 39px);

            > div:nth-child(2) {
                font-size: 24px;
            }
        }

        @media screen and (max-width: 1550px) {
            font-size: 41px;
            line-height: 28px;
            bottom: calc(50% - 34px);

            > div:nth-child(2) {
                font-size: 21px;
            }
        }

        @media screen and (max-width: 1300px) {
            font-size: 34px;
            line-height: 23px;
            bottom: calc(50% - 28px);

            > div:nth-child(2) {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 1100px) {
            font-size: 29px;
            line-height: 19px;
            bottom: calc(50% - 24px);

            > div:nth-child(2) {
                font-size: 16px;
            }
        }
    }
    
    .screen-theatre-play-button {
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        bottom: 40px;
        left: calc(50% - 45px);

        margin-top: -40px;

        z-index: 2;

        img {
            width: 90px;
        }

        animation-name: screen-theatre-play-button--enter;
        animation-duration: 300ms;
        animation-delay: 2100ms;
        animation-fill-mode: forwards;

        opacity: 0;

        pointer-events: all;

        transition: all 150ms;
        
        @keyframes screen-theatre-play-button--enter {
            to {
                margin-top: 0;
                opacity: 1;
            }
        }

        &:hover {
            transform: scale(1.1);
        }

        &:active, &:focus {
            transform: scale(0.95);
        }
        
        @media screen and (min-width: 2100px) {
            bottom: 50px;
            left: calc(50% - 50px);

            img {
                width: 100px;
            }
        }

        @media screen and (min-width: 2350px) {
            bottom: 62px;
            left: calc(50% - 60px);

            img {
                width: 120px;
            }
        }

        @media screen and (min-width: 2550px) {
            bottom: 52px;
            left: calc(50% - 65px);

            img {
                width: 130px;
            }
        }

        @media screen and (min-width: 2800px) {
            bottom: 75px;
            left: calc(50% - 70px);

            img {
                width: 140px;
            }
        }

        @media screen and (min-width: 3400px) {
            bottom: 100px;
            left: calc(50% - 95px);

            img {
                width: 190px;
            }
        }

        // ===

        @media screen and (max-width: 1750px) {
            bottom: 37px;
            left: calc((100% - 80px) / 2);

            img {
                width: 80px;
            }
        }

        @media screen and (max-width: 1550px) {
            bottom: 34px;
            left: calc((100% - 68px) / 2);

            img {
                width: 68px;
            }
        }

        @media screen and (max-width: 1300px) {
            bottom: 30px;
            left: calc((100% - 58px) / 2);

            img {
                width: 58px;
            }
        }

        @media screen and (max-width: 1100px) {
            bottom: 27px;
            left: calc((100% - 50px) / 2);

            img {
                width: 50px;
            }
        }
    }
}