.screen-ingame {
    .ingame-stats {
        position: fixed;
        top: 1rem;
        left: 1rem;

        .ingame-stats-value {
            color: #ffffff;
            font-size: 4.5rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);

            &:nth-child(3) {
                color: #ffd900;
                text-shadow: 2px 2px 0px rgb(97, 82, 0);
            }

            > span:nth-child(1) {
                display: inline-block;
                margin-right: 0.75rem;
            }

            &.attr--small {
                font-size: 3.5rem;
            }
        }
    }
}