@import './editor-prefab-explorer.scss';
@import './editor-prefab-explorer-popup.scss';
@import './editor-object-action-buttons.scss';
@import './editor-topbar.scss';
@import './editor-level-settings-popup.scss';
@import './editor-level-settings-dropdown.scss';
@import './editor-level-settings-toggle-selector.scss';
@import './editor-publish-popup.scss';
@import './editor-settings-popup.scss';
@import './editor-layer-selector.scss';
@import './editor-popup-checkbox-input.scss';

.screen-editor {
    position: relative;

    width: 1920px;
    height: 974px;

    pointer-events: none;

    &.attr--ui-hidden {
        .editor-prefab-explorer,
        .editor-layer-selector {
            bottom: -112px;
        }

        .editor-topbar-common {
            top: -112px;
        }
    }

    .editor-lock-tip {
        position: absolute;
        top: 42px;
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        color: #ffffff;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);

        animation-name: editor-lock-tip--enter;
        animation-duration: 250ms;
        animation-fill-mode: forwards;

        @keyframes editor-lock-tip--enter {
            0% {
                transform: scale(0.9);
                opacity: 0;
            }

            70% {
                transform: scale(1.05);
                opacity: 1;
            }

            100% {
                transform: scale(1);
            }
        }
    }
}