.screen-main-menu {
    position: relative;

    width: 1920px;
    height: 974px;

    display: flex;
    justify-content: center;

    .main-manu-island-wrapper {
        position: absolute;
        width: 792px;
        height: 792px;

        .main-menu-island-button {
            line-height: 0;
    
            display: inline-flex;
            align-items: center;
            justify-content: center;
    
            font-size: 44px;
    
            background-repeat: no-repeat;
            background-size: contain;

            text-transform: uppercase;
    
            color: #ffffff;

            transition: all 150ms;
            transform: scale(1);

            will-change: transform;

            &:hover {
                transform: scale(1.1);

                .main-menu-island-button-description {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &:active, &:focus {
                transform: scale(0.9);
            }

            .main-menu-island-button-description {
                opacity: 0;
                position: absolute;
                top: calc(100%);
                color: #ffffff;
                font-size: 18px;
                line-height: 1rem;
                white-space: nowrap;
                padding: 0.75rem;
                border-radius: 40px;
                transition: all 150ms;
                transform: translateY(-8px);
            }
        }

        .main-menu-island-button-scoreboards,
        .main-menu-island-button-play,
        .main-menu-island-button-level-maker {
            &.attr--gamepad-active {
                animation-name: main-menu-island-button--gamepad;
                animation-duration: 1000ms;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;

                @keyframes main-menu-island-button--gamepad {
                    0% {
                        transform: scale(0.9);
                    }

                    50% {
                        transform: scale(1);
                    }

                    100% {
                        transform: scale(0.9);
                    }
                }

                .main-menu-island-button-description {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .main-menu-island-button-scoreboards {
            position: absolute;
            top: 284px;
            left: -85px;

            > .main-menu-island-button {
                width: 270px;
                height: 90px;

                > .main-menu-island-button-description {
                    background: #5ab188;
                }
            }
        }

        .main-menu-island-button-play {
            position: absolute;
            top: 120px;
            right: 230px;

            > .main-menu-island-button {
                width: 160px;
                height: 70px;

                > .main-menu-island-button-description {
                    background: #ea1313;
                }
            }
        }

        .main-menu-island-button-level-maker {
            position: absolute;
            top: 356px;
            right: 22px;

            > .main-menu-island-button {
                width: 236px;
                height: 70px;

                > .main-menu-island-button-description {
                    background: #0066ff;
                }
            }
        }
    }

    .main-menu-logo {
        position: relative;
        margin-top: 4rem;
        margin-right: 3.5rem;

        img {
            width: 480px;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
        }
    }

    .main-menu-gamepad-help {
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;

        background: #1c1c1c;
        padding: 1rem;
        color: #ffffff;

        font-size: 24px;

        animation-name: main-menu-gamepad-help--enter;
        animation-duration: 250ms;
        animation-fill-mode: forwards;

        @keyframes main-menu-gamepad-help--enter {
            from {
                transform: translateX(-4px);
                opacity: 0;
            }

            to {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .main-menu-gamepad-help-text {
            display: flex;
            align-items: center;
    
            svg {
                display: block;
                width: 96px;
                height: 32px;
            }
    
            .main-menu-gamepad-help-icon {
                display: inline-block;
                margin: 0 1rem;
            }
        }
    }

    .main-menu-players-counter {
        color: #ffffff;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
        font-size: 1.75rem;
    }
}

.main-menu-music-toggle-container {
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 1;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 3.5rem;
}

.main-menu-music-toggle {
    position: relative;
    pointer-events: all;
    width: 250px;

    &:hover {
        .main-menu-music-toggle-icon {
            transform: scale(1.1);
            left: 0;
        }

        .main-menu-music-toggle-text {
            width: 100%;
            opacity: 1;
        }
    }

    &:active, &:focus {
        .main-menu-music-toggle-icon {
            transform: scale(0.95);
        }

        .main-menu-music-toggle-text {
            background: #e0e0e0;
        }
    }

    .main-menu-music-toggle-icon {
        position: absolute;
        left: calc((100% - 96px) / 2);
        z-index: 1;

        transition: all 150ms;

        img {
            width: 96px;
        }
    }

    .main-menu-music-toggle-text {
        opacity: 0;
        white-space: nowrap;
        overflow-x: hidden;

        position: relative;
        top: 10px;
        left: 32px;

        width: 0%;

        background: #efefef;
        border: 6px solid #ffffff;
        color: #333333;
        padding: 0.75rem 0;
        padding-left: 3rem;
        text-align: center;
        font-size: 34px;
        border-radius: 50px;

        transition: all 150ms;
    }
}