.ingame-pause-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    
    transition: all 150ms;

    &.attr--visible {
        opacity: 1;
        pointer-events: all;

        .ingame-pause-menu-modal {
            transform: scale(1);
            opacity: 1;
        }
    }

    .ingame-pause-menu-modal {
        width: 600px;
        height: 450px;

        border-radius: 20px;

        transform: scale(0.9);
        opacity: 0;

        transition: all 150ms;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        padding: 0rem 0;
    }

    .ingame-pause-menu-modal-title {
        font-size: 8rem;
        color: #ffffff;
        line-height: 0.5;

        animation-name: ingame-pause-menu-modal-title--infinite;
        animation-duration: 700ms;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes ingame-pause-menu-modal-title--infinite {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    }

    .ingame-pause-menu-modal-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ingame-pause-menu-modal-button {
        width: 350px;
        display: inline-block;
        font-size: 3rem;
        line-height: 1;
        margin-top: -3px;
        transition: all 100ms;
        text-align: center;
        border: 6px solid #c9c9c9;
        background: #ffffff;
        color: #c9c9c9;
        padding: 0.5rem 1rem;

        &:first-child {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        &:last-child {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        &:hover, &.attr--gamepad-focus {
            border: 6px solid #ff9f59;
            border-radius: 0;
            background: #ffffff;
            color: #ff9f59;

            transform: scale(1.1);
        }

        &:active, &:focus {
            transform: scale(0.95);
        }
    }

}